body {
	background-color: #fff;
	color: #000;
}

a {
	color: #FFD700;
	text-decoration: underline;
	font-weight: bold;
}

a:visited {
	color: #FFD700;
	text-decoration: underline;
	font-weight: bold;
}

.site-header { 
	text-align: center; 
}

h2.post-title.p-name a {
	color: #000;
	text-decoration: none;
}

header h1 a, header h1 a:visited {
	color: #000;
}

a.post-date {
color: #000;
}

nav a, nav a:visited, nav a:hover {
	border: none;
	color: #000;
	background-color: #FFD700;
}

nav a:hover, nav a:hover {
	border: none;
	color: #000;
	background-color: #FFD700;
}

p.h-entry {

	background-color: #c2c2c2;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

span.dt-published {
color: #000;
}